apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: beaesthetic-analytics-secrets
  namespace: beaesthetic
spec:
  secretStoreRef:
    name: oci-vault-backend
    kind: ClusterSecretStore

  refreshPolicy: CreatedOnce
  refreshInterval: 24h
  target:
    name: beaesthetic-analytics-secrets
    creationPolicy: Owner
    template:
      type: Opaque

  data:
    - secretKey: ANALYTICS_MONGODB_URI
      remoteRef:
        key: percona-mongo-connection-string