apiVersion: v1
kind: Service
metadata:
  name: beaesthetic-analytics
  namespace: beaesthetic
spec:
  selector:
    app: beaesthetic-analytics
  ports:
    - protocol: TCP
      port: 8000
      targetPort: 8000
  type: ClusterIP